@using EmpleoDotNet.Helpers
@model List<EmpleoDotNet.Models.JobOpportunity>
@{
    ViewBag.Title = "";
}

<div id="slider" class="sl-slider-wrapper">
    <div class="sl-slider">

        <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
                <div class="bg-img bg-img-1"></div>
                <div class="tint"></div>
                <div class="slide-content">
                    <h2>Buscas un trabajo?</h2>
                    <h3>No existe un mejor lugar para comenzar!</h3>
                    <p><a href="@Url.Action("Index", "JobOpportunity")" class="btn btn-lg btn-default">Encuentra un Empleo</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
                <div class="bg-img bg-img-2"></div>
                <div class="tint"></div>
                <div class="slide-content">
                    <h2>Necesitas un colaborador?</h2>
                    <p><a href="@Url.Action("New", "JobOpportunity")" class="btn btn-lg btn-default">Crea una Empleo</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <nav id="nav-arrows" class="nav-arrows">
        <span class="nav-arrow-prev">Anterior</span>
        <span class="nav-arrow-next">Siguente</span>
    </nav>

    <nav id="nav-dots" class="nav-dots">
        <span class="nav-dot-current"></span>
        <span></span>
    </nav>
</div>

<section id="jobs">
    <div class="container">
        <div class="row">
            <div>
                <h2>Trabajos Recientes</h2>
            </div>
            <div class="jobs">
                @foreach (var jobOpportunity in Model)
                {
                    <a href="@Url.Action("Detail", "JobOpportunity", new {id = jobOpportunity.Id})" class="featured">
                        <div class="row" onclick="onJobOpportunityDetailClick(this);" data-url="@Url.Action("Detail", "JobOpportunity", new { id = jobOpportunity.Id})">
                            <div class="col-md-1 hidden-sm hidden-xs">
                                <img src="@jobOpportunity.CompanyLogoUrl" width="60" height="60" alt="" class="img-responsive" onclick="onJobOpportunityDetailClick(this);" data-url="@Url.Action("Detail", "JobOpportunity", new { id = jobOpportunity.Id})"/>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-7 col-xs-12 job-title">
                                <h5>@jobOpportunity.Title</h5>
                                <p><strong>@jobOpportunity.CompanyName</strong>  |  @jobOpportunity.CompanyEmail</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 job-location">
                                <p>
                                    <strong>@jobOpportunity.Location.Name</strong>
                                </p>
                                <p class="hidden-xs">@jobOpportunity.Created.ToShortDateString()</p>
                            </div>
                            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs job-type text-center">
                                <p class="job-salary">
                                    <strong></strong>
                                </p>
                                <p class="badge">@jobOpportunity.Category.ToEnumDescription()</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <br />
            <a class="btn btn-primary" href="@Url.Action("Index", "JobOpportunity")">Mostrar mas trabajos</a>
        </div>
    </div>
    
</section>

