@model List<EmpleoDotNet.Models.JobOpportunity>
@{
    ViewBag.Title = "Home Page";    
}

<div class="jumbotron">
    <h1>Empleo Dot Net</h1>
    <p class="lead">
        Empleo Dot Net es una iniciativa de Developers.DO. Es un portal de empleos creado por la comunidad
        para aprender técnicas de desarrollo de sistema de código libre usando tecnología de Microsoft
    </p>
    <p>
        <a href="@Url.Action("Index", "JobOpportunity")" class="btn btn-info btn-large">Ver Vacantes</a>

        <a href="https://github.com/developersdo/empleo-dot-net" class="btn btn-default btn-large" target="_blank">
            Repositorio en Github &raquo;
        </a>
    </p>
</div>

<table class="table">
    <tr>
        <th>Publicación</th>
        <th>Título</th>
        <th>Categoria</th>
        <th>Provincia</th>
    </tr>
    @foreach (var job in Model)
    {
        <tr>
            <td>@job.PublishedDate.Value.ToString("dd/mm/yyyy")</td>
            <td><strong>@job.CompanyName</strong> | @job.Title</td>
            <td>@job.Category</td>
            <td>@(job.Location != null ? job.Location.Name : "")</td>
        </tr>
    }
</table>