@using EmpleoDotNet.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @{
        const string branch = "Emplea.do";
        var title = string.IsNullOrEmpty(ViewBag.Title) ? branch : $"{ViewBag.Title}-{branch}";
    }
    <title>@title</title>
    @Html.Partial("_GoogleAnalytics")
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/theme/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/theme/css")
    @Scripts.Render("~/bundles/jquery")
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700" rel="stylesheet" />
    <style>
        #menu-action-icon {
            margin-right: 18px;
        }
    </style>
    <link href="~/Content/findJob.css" rel="stylesheet" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @RenderSection("styles", required: false)

    @{
        var ogTitle = String.IsNullOrEmpty(@ViewBag.Title) ? "Emplea.do" : @ViewBag.Title + " - Emplea.do";
        var ogDescription = String.IsNullOrEmpty(ViewBag.Description) ? "La mejor manera de encontrar un empleo como desarrollador de software" : ViewBag.Description;
        var ogImage = String.IsNullOrEmpty(ViewBag.ImageUrl) ? new Uri(Request.Url, Url.Content("~/Content/img/logo-empleado.png")) : ViewBag.ImageUrl;
    }
    <meta property="og:title" content="@ogTitle">
    <meta property="og:description" content="@ogDescription">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Request.Url.AbsoluteUri">
    <meta property="og:image" content="@ogImage">
</head>
<body id="home" >
   <div class="layout">
       <!-- Pre-loader -->
       <div id="loader">
           <i class="fa fa-cog fa-4x fa-spin"></i>
       </div>

       <div class="fm-container">
           <!-- Menu -->
           <div class="menu">
               <div class="button-close text-right">
                   <a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
               </div>
               <ul class="nav">
                   @if (User == null || !User.Identity.IsAuthenticated)
                   {
                       <li class="@Html.IsSelected("Account", "Login")"><a href="@Url.Action("Login", "Account")">Iniciar sesión</a></li>
                   }
                   else
                   {
                       <li>
                           <a href="@Url.Action("Profile", "Account")">Mi perfil</a>
                           <ul><li><a href="@Url.Action("LogOff","Account")">Cerrar sesión</a></li></ul>
                       </li>
                   }
                   <li class="@Html.IsSelected("Home", "Index")"><a href="@Url.Action("Index", "Home")">Home</a></li>
                   <li class="@Html.IsSelected("JobOpportunity", "Index")"><a href="@Url.Action("Index", "JobOpportunity")">Lista de Empleos</a></li>
                   <li class="@Html.IsSelected("JobOpportunity", "New")"><a href="@Url.Action("New", "JobOpportunity")">Publicar un Empleo</a></li>
                   <li class="@Html.IsSelected("Credits", "Index")"><a href="@Url.Action("Index", "Credits")">Agradecimientos</a></li>
               </ul>
           </div>
           <!-- end Menu -->
       </div>

       <!-- Header -->
       <header class="layout__header">
           <div id="header-background"></div>
           <div class="container">
               <div class="pull-left">
                   <div>
                       <a id="menu-action-icon" class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
                       <span><a href="@Url.Action("Index", "Home")"><i class="fa fa-users fa-2x"></i> Emplea.do { beta }</a></span>
                   </div>
               </div>
               <div class="pull-right hidden-xs">
                   <div>
                       <a class="btn btn-default" href="@Url.Action("New", "JobOpportunity")"><i class="fa fa-user"></i> Publicar un Empleo</a>
                   </div>
               </div>
           </div>
       </header>

       <!-- Content -->
       <main class="layout__content">
          @Html.Partial("_Alerts")
          @RenderBody()
       </main>

       <!-- Footer -->
       <footer class="layout__footer">
           <div id="prefooter">
               <div class="container">
                   <div class="row">
                       <div class="col-sm-6" id="newsletter">
                           <h2>Emplea.do</h2>
                           <a href="https://www.facebook.com/empleadonet" class="btn btn-default"><i class="fa fa-facebook"></i></a>
                           <a href="https://twitter.com/emplea_do" class="btn btn-default"><i class="fa fa-twitter"></i></a>
                       </div>
                   </div>
               </div>
           </div>
           <div id="credits">
               <div class="container text-center">
                   <div class="row">
                       <div class="col-sm-3 hidden-xs">
                           <a class="btn btn-default pull-left" href="https://github.com/developersdo/empleo-dot-net" target="_blank"><i class="fa fa-github"></i> Fork us on github</a>
                       </div>
                       <div class="col-sm-6">
                           &copy; @DateTime.Today.Year Emplea.do<br>
                           Made with <i class="fa fa-heart fa-inverse"></i> by <a href="@Url.Action("Index", "Credits")">all of us</a><br>
                           Sponsored by <a href="http://www.megsoftconsulting.com/">Megsoft Consulting, Inc., Xamarin Specialists</a>
                           <br /><span>ver. @Html.AssemblyVersion()</span>

                           <div class="text-center hidden-lg hidden-sm hidden-md">
                               <br />
                               <a class="btn btn-default" href="https://github.com/developersdo/empleo-dot-net" target="_blank"><i class="fa fa-github"></i> Fork us on github</a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </footer>
   </div>


    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme/js")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
