<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title - Emplea.do</title>
    @Html.Partial("_GoogleAnalytics")
    @Styles.Render("~/bundles/styles")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/theme/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/theme/css")
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700" rel="stylesheet"/>
    @RenderSection("styles", required: false)

    @{ 
        var ogTitle = String.IsNullOrEmpty(@ViewBag.Title) ? "Emplea.do" : @ViewBag.Title + " - Emplea.do";
        var ogDescription = String.IsNullOrEmpty(ViewBag.Description) ? "Puestos de trabajo" : ViewBag.Description;
    }
    <meta property="og:title" content="@ogTitle">
    <meta property="og:description" content="@ogDescription">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://emplea.do">
    <meta property="og:image" content="@ViewBag.ImageUrl">
</head>
<body id="home">
    <!-- ============ NAVBAR START ============ -->

    <div class="fm-container">
        <!-- Menu -->
        <div class="menu">
            <div class="button-close text-right">
                <a class="fm-button"><i class="fa fa-close fa-2x"></i></a>
            </div>
            <ul class="nav">
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("Index", "JobOpportunity")">Lista de Empleos</a></li>
                <li><a href="@Url.Action("New", "JobOpportunity")">Publicar un Empleo</a></li>
                <li><a href="@Url.Action("Index", "Credits")">Agradecimientos</a></li>
            </ul>
        </div>
        <!-- end Menu -->
    </div>

    <!-- ============ NAVBAR END ============ -->

    <header>
        <div id="header-background"></div>
        <div class="container">
            <div class="pull-left">
                <div><a href="@Url.Action("Index", "Home")"><i class="fa fa-users fa-2x"></i> Emplea.do { beta }</a></div>
            </div>
            <div id="menu-open" class="pull-right">
                <a class="fm-button"><i class="fa fa-bars fa-lg"></i></a>
            </div>
            @*<div id="searchbox" class="pull-right">
                <form>
                    <div class="form-group">
                        <label class="sr-only" for="searchfield">Searchbox</label>
                        <input type="text" class="form-control" id="searchfield" placeholder="Type keywords and press enter">
            </div>
                </form>
            </div>*@
            @*<div id="search" class="pull-right">
                <a><i class="fa fa-search fa-lg"></i></a>
            </div>*@
        </div>
    </header>

    <div>

        <!-- ============ PAGE LOADER START ============ -->
        <div id="loader">
            <i class="fa fa-cog fa-4x fa-spin"></i>
    </div>
        <!-- ============ PAGE LOADER END ============ -->


        @if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <section id="jobs">
                <div class="container">
                    <div class="row">
            <div class="alert alert-danger">
                @ViewBag.ErrorMessage
            </div>
                    </div>
                </div>    
            </section>
        }

        @RenderBody()
    </div>

        <footer>
        <div id="prefooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" id="newsletter">
                        <h2>Emplea.do</h2>
                        @*<form class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="newsletter-email">Email address</label>
                                <input type="email" class="form-control" id="newsletter-email" placeholder="Email address">
                            </div>
                            <button type="submit" class="btn btn-primary">Sign up</button>
                        </form>*@
                    </div>
                    @*<div class="col-sm-6" id="social-networks">
                        <h2>Get in touch</h2>
                        <a href="#"><i class="fa fa-2x fa-facebook-square"></i></a>
                        <a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        <a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                    </div>*@
                </div>
            </div>
        </div>
        <div id="credits">
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-12">
                        &copy; @DateTime.Today.Year Emplea.do<br>
                        Made with  <i class="fa fa-heart fa-inverse"></i>   by   <a href="https://github.com/developersdo/empleo-dot-net" target="_blank">Developers.do</a>
                    </div>
                </div>
            </div>
        </div>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/theme/js")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/app.js"></script>
</body>
</html>
