@using EmpleoDotNet.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @{
        var branch = "Emplea.do";
        var title = string.IsNullOrEmpty(ViewBag.Title) ? branch : $"{ViewBag.Title}-{branch}";
    }
    <title>@title</title>
    @Html.Partial("_GoogleAnalytics")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css/theme/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Plugins-->
    <link href="~/Content/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="~/Content/owl-carousel/owl.transitions.css" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/vegas.min.css" />


    <link rel="stylesheet" href="~/Content/empleado.css" />

    <link href="http://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700" rel="stylesheet" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    @RenderSection("styles", required: false)

    @{
        var ogTitle = String.IsNullOrEmpty(@ViewBag.Title) ? "Emplea.do" : @ViewBag.Title + " - Emplea.do";
        var ogDescription = String.IsNullOrEmpty(ViewBag.Description) ? "La mejor manera de encontrar un empleo como desarrollador de software" : ViewBag.Description;
        var ogImage = String.IsNullOrEmpty(ViewBag.ImageUrl) ? new Uri(Request.Url, Url.Content("~/Content/img/logo-empleado.png")) : ViewBag.ImageUrl;
    }
    <meta property="og:title" content="@ogTitle">
    <meta property="og:description" content="@ogDescription">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@Request.Url.AbsoluteUri">
    <meta property="og:image" content="@ogImage">
</head>
<body id="home">

    <!-- Pre-loader -->
    <div id="pre-loader"></div>

    <!-- Logo -->
    <div class="logo hidden-xs">
        <div class="logo-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-xs-4">
                        <div class="logo-title">
                            <a href="/">Emplea.do</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header hidden-lg hidden-md hidden-sm">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Emplea.do</a>
            </div>
            <div class="collapse navbar-collapse navbar-left" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected("Home", "Index")">
                        <a href="/">Inicio</a>
                    </li>
                    <li class="@Html.IsSelected("Jobs", "Index")">
                        <a href="/jobs/">Lista de empleos</a>
                    </li>
                    <li class="@Html.IsSelected("JobOpportunity", "New")">
                        <a href="/jobs/new">Crear un empleo</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    @Html.Partial("_Alerts")
    @RenderBody()

    <footer>
        <div class="footer-inner">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-12">
                        <p class="copy">&copy; 2016 Emplea.do - Hecho en Rep. Dominicana por <a href="#">Developers.do</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/vegas.min.js"></script>
    <script src="~/Scripts/empleado.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
