@using EmpleoDotNet.Helpers
@model EmpleoDotNet.Core.Domain.JoelTest

<h4>La prueba de JOEL</h4>
<p>Es un cuestionario para medir la calidad del equipo de desarrollo de tu empresa. Coteja las opciones que apliquen.
    <br />Esto es opcional y solo aplica para posiciones relacionadas al Desarrollo de Software
</p>
<div class="list-group">
    <div class="list-group-item">
        <b>¿Usan algún tipo de control de versiones? (Git, Subversion)</b> <span class="pull-right">@Model.HasSourceControl.ToYesNoString()</span>
</div>
    <div class="list-group-item">
        <b>¿Pueden hacer pases a producción en un solo paso?</b> <span class="pull-right">@Model.HasOneStepBuilds.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Compilan el producto diariamente?</b> <span class="pull-right">@Model.HasDailyBuilds.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Tienen una base de datos de bugs?</b> <span class="pull-right">@Model.HasBugDatabase.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Corrigen los bugs antes de añadir más código?</b> <span class="pull-right">@Model.HasBusFixedBeforeProceding.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Tienen una planificación actualizada?</b> <span class="pull-right">@Model.HasUpToDateSchedule.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Tienes un documento de especificaciones?</b> <span class="pull-right">@Model.HasSpec.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Están los programadores en un lugar tranquilo?</b> <span class="pull-right">@Model.HasQuiteEnvironment.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Utilizan las mejores herramientas que puedes comprar?</b> <span class="pull-right">@Model.HasBestTools.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Tienen gente para probar los productos?</b> <span class="pull-right">@Model.HasTesters.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Hacen escribir código a los nuevos candidatos en las entrevistas?</b> <span class="pull-right">@Model.HasWrittenTest.ToYesNoString()</span>
    </div>
    <div class="list-group-item">
        <b>¿Hacen pruebas de usabilidad 'de vestíbulo'?</b> <span class="pull-right">@Model.HasHallwayTests.ToYesNoString()</span>
    </div>
</div>