@model EmpleoDotNet.Models.JobOpportunity

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">
            @Model.Title
        </h2>
    </div>
    <div class="panel-body">
        <p>
            @Model.CompanyName, @Model.Location <br />
            <a href="@Model.CompanyUrl">@Model.CompanyUrl</a>
        </p>
        
        <p>
            @Model.Description            
        </p>

        <p>@Model.Tags</p>
    </div>
</div>

<div class="jumbotron">
    <h2>Para aplicar a esta posición</h2>
    <h3>
        Enviar CV a <a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a>
    </h3>
</div>