@using System.Text.RegularExpressions
@using EmpleoDotNet.Core.Domain
@using EmpleoDotNet.Helpers

@model JobOpportunity
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Regex.Replace(Model.Description, @"<(.|\n)*?>", "");
    ViewBag.ImageUrl = Model.CompanyLogoUrl;
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@Model.Title</h3>
                <hr class="small">
            </div>
        </div>
    </div>

    <div class="container job-details-content">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-default" id="meta">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                Categoria: <span class="text-opacity">@Model.Category.ToEnumDescription()</span>
                            </li>
                            <li>
                                Localidad:
                                @if (Model.JobOpportunityLocation == null)
                                {
                                    <span class="text-opacity">N/A</span>
                                }
                                else
                                {
                                    <span class="text-opacity">@Model.JobOpportunityLocation.Name</span>
                                }
                            </li>
                            <li>
                                Publicado: <span class="text-opacity">@Model.Created.ToDominicanFormat()</span>
                            </li>

                            @if (Model.IsRemote)
                            {
                                <li class="remote">
                                    <span class="badge badge-success">Remoto</span>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.Raw(Model.Description);
                        <strong>Como aplicar:</strong>
                        <br><br>
                        Enviar CV <a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a>

                        <article>
                            @if (Model.JoelTest != null)
                            {
                                Html.RenderPartial("_JoelTestResults", Model.JoelTest);
                            }
                        </article>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default" id="company">
                    <div class="panel-heading">
                        <h4 class="panel-title">Acerca de la empresa</h4>
                    </div>
                    <div class="panel-body">
                        <a href="@Model.CompanyUrl">
                            @if (string.IsNullOrWhiteSpace(@Model.CompanyLogoUrl))
                            {
                                <img src="~/Content/img/company-logo-placeholder.png" />
                            }
                            else
                            {
                                <img src="@Model.CompanyLogoUrl" alt="" class="img-responsive">
                            }
                        </a>
                        <h5>@Model.CompanyName</h5>
                    </div>
                    <div class="panel-footer text-right">
                        <a href="@Model.CompanyUrl">Mas acerca de la empresa &raquo;</a>
                    </div>
                </div>
                <div class="panel panel-default" id="share">
                    <div class="panel-heading">
                        <h4 class="panel-title">Compartir</h4>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url" class="btn btn-primary btn-xl"><span class="fa fa-facebook"></span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/home?status=@Request.Url" class="btn btn-primary btn-xl"><span class="fa fa-twitter"></span></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/share?url=@Request.Url" class="btn btn-primary btn-xl"><span class="fa fa-google"></span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@Request.Url&amp;summary=&amp;source=" class="btn btn-primary btn-xl"><span class="fa fa-linkedin"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>