@using EmpleoDotNet.Helpers
@using EmpleoDotNet.ViewModel
@using System.Text.RegularExpressions
@model EmpleoDotNet.Models.JobOpportunity
@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Regex.Replace(Model.Description, @"<(.|\n)*?>", "");
    ViewBag.ImageUrl = Model.CompanyLogoUrl;
}
<section id="title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>@Model.Title</h1>
                <h4>
                    <span><i class="fa fa-map-marker"></i>@Model.Location.Name</span>
                    <span><i class="fa fa-cog"></i>@Model.Category.ToEnumDescription()</span>
                    @if (Model.IsRemote)
                    {
                        <span><i class="fa fa-globe"></i>Remoto</span>
                    }
                </h4>
            </div>
        </div>
    </div>
</section>

<section id="jobs">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <article>
                    <h2>Detalles del Puesto</h2>
                    <article>
                        @*@Html.Raw(HttpUtility.HtmlDecode(@Html.TextBoxFor(m => m.Description, new { @class = "form-control textarea" }).ToHtmlString()));*@
                        @Html.Raw(Model.Description)
                    </article>
                    <h3>Como aplicar</h3>
                    <p>Enviar CV <a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a> </p>
                </article>
            </div>
            <div class="col-sm-4" id="sidebar">
                <div class="sidebar-widget" id="share">
                    <h2>Compartir</h2>
                    <ul>
                        <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url"><i class="fa fa-facebook"></i></a></li>
                        <li><a target="_blank" href="https://twitter.com/home?status=@Request.Url"><i class="fa fa-twitter"></i></a></li>
                        <li><a target="_blank" href="https://plus.google.com/share?url=@Request.Url"><i class="fa fa-google-plus"></i></a></li>
                        <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@Request.Url&amp;summary=&amp;source="><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <hr>

                <div class="sidebar-widget" id="company">
                    <h2>Sobre la compañia</h2>
                    <a href="@Model.CompanyUrl">
                        @if (string.IsNullOrWhiteSpace(@Model.CompanyLogoUrl))
                        {
                            <img src="~/Content/img/company-logo-placeholder.png" />
                        }
                        else
                        {
                            <img src="@Model.CompanyLogoUrl" alt="" class="img-responsive">
                        }
                    </a>
                    <h5>@Model.CompanyName</h5>
                    <p>
                        <a href="@Model.CompanyUrl" class="btn btn-primary">Más sobre esta compañía</a>
                    </p>
                </div>
                <hr>
                @if (((List<RelatedJobDto>)ViewBag.RelatedJobs).Any())
                {
                    <div class="sidebar-widget" id="company-jobs">
                        <h2>Mas empleos de esta compañia</h2>
                        <ul>
                            @foreach (var jobOpportunity in (List<RelatedJobDto>)ViewBag.RelatedJobs)
                            {
                                <li><a href="@jobOpportunity.Url">@jobOpportunity.Title</a></li>
                            }
                        </ul>
                    </div>
                }

                <hr>
                <div class="sidebar-widget" id="view-count">
                    <h2>Visitas Realizadas</h2>
                    <h3>@Model.ViewCount</h3>
                </div>
            </div>
        </div>
    </div>
</section>
