@model EmpleoDotNet.Models.JobOpportunity
 
<br />
<div class="row">
    <div class="col-md-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title">
                    @Model.Title
                </h2>
            </div>
            <div class="panel-body">
                <p>
                    @Model.CompanyName, @Model.Location <br />
                    <a href="@Model.CompanyUrl">@Model.CompanyUrl</a>
                </p>

                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <h5 style="margin-left: 40px">Comparte esta oferta</h5>
            <ul class="share-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="~/Content/IconsSocial/Facebook.png"></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="~/Content/IconsSocial/Twitter.png"></a></li>
                <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="~/Content/IconsSocial/Google.png"></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="~/Content/IconsSocial/LinkedIn.png"></a></li>
            </ul>
        </div> 
    </div>
</div>

<div class="jumbotron">
    <h2>Para aplicar a esta posición</h2>
    <h3>
        Enviar CV a <a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a>
    </h3>
</div>
 