@model EmpleoDotNet.Models.JobOpportunity

<div class="title">
    <h1>@Model.Title
        <span class="h3 text-color-lightgray"> @@ @Model.CompanyName</span>
    </h1>
</div>
 

<div class="row">
    <div class="col-md-9">
        <p>@Model.Description</p>
    </div>
    <div class="col-md-3">
        <div class="company"> 
            @{var imgUrl = !String.IsNullOrEmpty(@Model.CompanyLogoUrl) ? Model.CompanyLogoUrl : "http://www.acsu.buffalo.edu/~rslaine/imageNotFound.jpg";}
            <div class="img" style="background-image:url('@imgUrl')"></div>
            <div class="company-title">
                <p>@Model.CompanyName</p>
                <p>Santo Domingo</p>
            </div>
            <div class="company-information">
                <p>
                    <strong>Url :</strong>
                    <a href="@Model.CompanyUrl" target="_blank">@Model.CompanyUrl</a>
                </p>
                <p>
                    <strong>Correo :</strong>
                    <a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a>
                </p>
            </div>
        </div>
        <div class="information-block">
            <ul class="share-buttons">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="~/Content/IconsSocial/Facebook.png"></a></li>
                <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="~/Content/IconsSocial/Twitter.png"></a></li>
                <li><a href="https://plus.google.com/share?url=" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="~/Content/IconsSocial/Google.png"></a></li>
                <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="~/Content/IconsSocial/LinkedIn.png"></a></li>
            </ul>
        </div>
    </div>
</div>

<div class="jumbotron">
    <h2>Para aplicar a esta posición</h2>
    <h3>
        Enviar CV a <a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a>
    </h3>
</div>
