@using EmpleoDotNet.Helpers
@model IEnumerable<EmpleoDotNet.ViewModel.JobOpportunityIndexViewModel>
@{
    ViewBag.Title = "Listado de vacantes";
}

<div class="row">
    <div class="col-xs-8">
        <h2>Lista de vacantes disponibles</h2>
    </div>
    <div class="cols-xs-4 pull-right">
        <p>&nbsp;</p>
        <a href="@Url.Action("New", "JobOpportunity")" class="btn btn-info">Nueva Vacante</a>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "JobOpportunity", FormMethod.Get))
    {
        <div class="col-xs-3">            
            @Html.DropDownList("LocationId", null, "Todas las ciudades", htmlAttributes: new { @class = "form-control" })
        </div>
        <div class="col-xs-3">
            @*Aqui va el control de seleccion de Categorias*@
            <button type="Submit" class="btn btn-info">Filtrar</button> 
        </div>
    }
</div>

<div class="row">
    <p>&nbsp;</p>
        <table class="table">
        <tr>
            <th>Publicación</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Provincia</th>
        </tr>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.PublishedDate.Value.ToString("dd/mm/yyyy")</td>
                <td>
                    <strong>@job.CompanyName</strong> |
                    <a href="@Url.RouteUrl(
                        "JobOpportunity-Pretty",
                        new {
                            controller = "JobOpportunity",
                            action = "Detail",
                            id = job.Id,
                            description = job.Title.SanitizeUrl()
                        })">
                        @job.Title
                    </a>
                </td>
                <td>@job.Category</td>
                <td>@job.Location.Name </td>
            </tr>
        }
    </table>
</div>
