@using EmpleoDotNet.Helpers
@model ICollection<EmpleoDotNet.Models.JobOpportunity>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de vacantes disponibles</h2>


<table class ="table table-striped">
    <tbody>
        
        @foreach (var jobs in Model)
        {
            <tr>
                <td>
                    <!-- Title -->
                    <strong>
                        <a href ="@Url.Action("Detail", new{ jobs.Id })">@jobs.JobTitle</a>
                    </strong>
                    <br/>
                    <!-- Company -->
                    <a href ="#">@jobs.CompanyName</a>
                 
                </td>
                <!-- Job Category -->
                <td>
                    <a href="#">@jobs.Category.ToEnumDescription()</a>
                </td>
                <!-- Address -->
                <td>
                   @jobs.Location
                </td>
                <!-- Date -->
                <td>
                    @jobs.Created.ToShortDateString()
                </td>
            </tr>
        }
        
    </tbody>

</table>

