@using EmpleoDotNet.Helpers
@model EmpleoDotNet.ViewModel.JobOpportunitySearchViewModel
@{
    ViewBag.Title = "Listado de vacantes";
}

<div class="row">
    <div class="col-xs-8">
        <h2>Lista de vacantes disponibles</h2>
    </div>
    <div class="cols-xs-4 pull-right">
        <p>&nbsp;</p>
        <a href="@Url.Action("New", "JobOpportunity")" class="btn btn-info">Nueva Vacante</a>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "JobOpportunity", FormMethod.Get))
    {
        <div class="col-xs-3">
            @Html.DropDownListFor(d => d.SelectedLocation,
                Model.Locations.Select(s => new SelectListItem {Text = s, Value = s}),
                new {@class = "form-control"})
        </div>
        <div class="col-xs-3">
            @*Aqui va el control de seleccion de Categorias*@
            <button type="Submit" class="btn btn-info">Filtrar</button> 
        </div>
    }
</div>

<div class="row">
    <p>&nbsp;</p>
        <table class="table">
        <tr>
            <th>Publicación</th>
            <th>Título</th>
            <th>Categoria</th>
            <th>Provincia</th>
        </tr>
        @foreach (var job in Model.JobOpportunities)
        {
            <tr>
                <td>@job.PublishedDate.Value.ToString("dd/mm/yyyy")</td>
                <td>
                    <span class="bold-600">@job.CompanyName</span> |
                    <a class="bold-600" href="@Url.RouteUrl(
                        "JobOpportunity-Pretty",
                        new {
                            controller = "JobOpportunity",
                            action = "Detail",
                            id = job.Id,
                            description = job.Title.SanitizeUrl()
                        })">
                        @job.Title
                    </a>
                </td>
                <td>@job.Category.ToEnumDescription()</td>
                <td>@(job.Location != null ? job.Location.Name : "")</td>
            </tr>
        }
    </table>
</div>
