@using EmpleoDotNet.Helpers
@model EmpleoDotNet.ViewModel.NewJobOpportunityViewModel

<h2>Nueva Vacante</h2>

<!-- Para más información de este layout revisar la documentación de Bootstrap http://getbootstrap.com/css/#forms -->
@using (Html.BeginForm("New", "JobOpportunity", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.Location, new { @class = "form-control", placeholder = "Ej: Santo Domingo..." })
            @Html.ValidationMessageFor(m => m.Location)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RequirementsToApply, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.RequirementsToApply, new { @class = "form-control"})
            @Html.ValidationMessageFor(m => m.RequirementsToApply)
        </div>
    </div>

    
      <div class="form-group">
        @Html.LabelFor(m => m.Category, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.EnumDropListFor(e => e.Category)
            @Html.ValidationMessageFor(m => m.Category)
        </div>
    </div>
    
    <h4>Información de la empresa</h4>
    
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CompanyName)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyUrl, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CompanyUrl, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyLogoUrl, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CompanyLogoUrl, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyEmail, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CompanyEmail, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CompanyEmail)
        </div>
    </div>
    

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Enviar</button>
        </div>
    </div>
}